<!doctype html>
<html ng-app="Consumer">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Kafka Demo - Consumer Component</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="../static/styles/consumer-app.css" th:href="@{styles/consumer-app.css}"/>
        <link rel="stylesheet" href="../static/styles/bootstrap.min.css" th:href="@{/styles/bootstrap.css}"/>
        <link rel="stylesheet" href="../static/styles/bootstrap-theme.min.css" th:href="@{/styles/bootstrap-theme.css}"/>
    </head>
    <body>
        <div ng-controller="MainCtrl as main">
            <div class="container-fluid">
                <div class="app-title">
                    <h2>Kafka Consumer</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="message-output row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Test Topic</h3>
                                    </div>
                                    <div class="panel-body test-messages">
                                        <div ng-repeat="message in main.testMessages">
                                            <p>{{testMessage.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="message-output row">
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">signalMetadata-ingest Topic</h3>
                                    </div>
                                    <div class="panel-body sm-messages">
                                        <div ng-repeat="message in main.smMessages">
                                            <p>{{smMessage.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">gatewayStatusMessage-ingest Topic</h3>
                                    </div>
                                    <div class="panel-body gsm-messages">
                                        <div ng-repeat="message in main.smMessages">
                                            <p>{{gsmMessage.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="message-output row">
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">uplinkPayloadMetadata-ingest Topic</h3>
                                    </div>
                                    <div class="panel-body upm-messages">
                                        <div ng-repeat="message in main.upmMessages">
                                            <p>{{upmMessage.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">downlink Topic</h3>
                                    </div>
                                    <div class="panel-body downlink-messages">
                                        <div ng-repeat="message in main.upmMessages">
                                            <p>{{downlinkMessage.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script src="../static/scripts/angular.js" th:src="@{scripts/angular.js}"/>
        <script src="../static/scripts/ui-bootstrap-tpls-0.14.2.js" th:src="@{scripts/ui-bootstrap-tpls-0.14.2.js}"/>
        <script src="../static/scripts/sockjs.js" th:src="@{scripts/sockjs.js}"/>
        <script src="../static/scripts/stomp.js" th:src="@{scripts/stomp.js}"/>
        <script src="../static/scripts/consumer-app.js" th:src="@{scripts/consumer-app.js}"/>
    </body>
</html>
