<!doctype html>
<html ng-app="Consumer">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Kafka Demo - Consumer Component</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="../static/styles/consumer-app.css" th:href="@{styles/consumer-app.css}"/>
        <link rel="stylesheet" href="../static/styles/bootstrap.min.css" th:href="@{/styles/bootstrap.css}"/>
        <link rel="stylesheet" href="../static/styles/bootstrap-theme.min.css" th:href="@{/styles/bootstrap-theme.css}"/>
    </head>
    <body>
        <h2>Kafka Demo - Consumer Component</h2>

        <div ng-controller="MainCtrl as main">
            <div class="col-md-4">
                <h2>Topics</h2>
                <topic class="callout"
                       ng-repeat="topic in main.topics"
                       ng-click="main.setCurrentTopic(topic)">
                </topic>
                <br/>
                <a class="btn btn-primary" ng-click="main.createTopic()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

            <div class="col-md-6 content">
                <h2>Message</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="inputTopic">Topic</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="inputTopic" placeholder="Topic" ng-model="main.currentTopic.name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputMessage">Message</label>
                        {{topics}}
                        <div class="controls">
                            <select id="inputMessage" class="form-control" ng-model="main.currentMessage"
                                    ng-options="l.name for l in main.statuses"
                                    ng-change="main.setCurrentMessage(main.currentMessage)"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="../static/scripts/angular.js" th:src="@{scripts/angular.js}"/>
        <script src="../static/scripts/ui-bootstrap-tpls-0.14.2.js" th:src="@{scripts/ui-bootstrap-tpls-0.14.2.js}"/>
        <script src="../static/scripts/consumer-app.js" th:src="@{scripts/consumer-app.js}"/>
    </body>
</html>
